<div class="center">

    <div class="headerFont"><h1>About Me:</h1></div>
    
    <br><br><br><br><br>
    <br><br><br><br>
    <br><br><br>
    <br><br>
    <br>
    <br>

    <div class ="bodyFont">
        <h3>Background</h3><br><br>
        <p>Originally raised in Reston, Virginia, I moved to Littleton over 15 years ago. Although my family has lived in France for a long time,<br>
        my roots are Vietnamese and Laotian, which I am very proud of. I see Colorado as my home and do not plan on going anywhere! I was originally<br>
        a Business major, but I switched to Computer Science and I am very content with my choice. To be completely honest, I wasn't fond programming<br>
        that much when I first started, but I can definitely say that it has grown on me and that I genuinely enjoy it now.</p><br><br>

        <h3>About me continued</h3><br><br>
        <p>One of my passions is skiing and snowboarding; I wouldn't be a true Coloradan if I said otherwise! I love to cook, work on cars, traveling, and hip-hop.<br>
        I also love to rock climb, but I have taken a hiatus due to a recent injury. I used to play competitive chess when I was younger, I recently started playing<br> 
        again (feel free to challenge me on Chess.com!) I am fluent in both French and English, we speak both languages at home everyday. I attended <br>
        Denver International School during middle school, so I had the opportunity of meeting many people of different cultures. I went to GWHS for high school,<br>
        where I played lacrosse as a middie/attack position. If you'd like to know more about me, please ask!</p>
        <br><br><br>    
    </div>

</div>

