<div class="center">

    <div class="headerFont"><h1>About Me</h1></div>
    
    <br><br>
        <img style="border:1px solid black" src="http://oi66.tinypic.com/2znmtko.jpg" width="253" height="330">
    <br><br>
    <br><br>

    <div class ="bodyFont">
        <h3>Background</h3><br><br>
        <p>Originally raised in Reston, VI, I moved to Littleton, CO over 15 years ago. Although my family<br>
        has French roots, my nationality is Vietnamese and Laotian, which I am very proud of. I see Colorado as<br>
        my home and do not plan on going anywhere! I originally went to school for Business, but I realized that<br>
        I really enjoyed Computer Science, which is why I am now pursuing a career in programming.</p><br><br>

        <h3>Personal life</h3><br><br>
        <div class = "bodyFont">
        <p>Some of my passions are skiing and snowboarding; I wouldn't be a true Coloradan if I said otherwise!<br>
        I also love cooking, working on cars, travelling, and hip-hop culture. I also love to rock climb, but I<br>
        have taken a hiatus due to a recent injury. I used to play competitive chess when I was younger, I just<br>
        started playing again (feel free to challenge me on Chess.com!). I am fluent in both French and English,<br>
        we speak both languages at home everyday. If you'd like to know more about me, please ask!</p>
        
        <br><br><br>
        </div>    
    </div>
</div>

