<div class="center">

    <div class="headerFont"><h1>About Me!</h1></div>
    
    <br><br>
        <img style="border:3px solid black" src="https://lh3.googleusercontent.com/AkvYFyfkZHbw7uhirTKQ0ewAv3Ytl4KTXRfyf5mup3VOqoLSJf2gQW2yPNuVxfV-G_Oz5r8RHRUrbPiyWK7S07-1zrahjlvo_KdydXxUAP-D4A94z_7mxs7nVtfw4fuoNSb_OiKsxGkn3tGKLiquNtf2xbN6l1yKjNjrrkZo0YpDq2JRsa6gnzKSfmX1WXI8nezVjrng9-mhudGYuLGnZyb54APPNRCdiB53hYUltw0we8TE4Q_64z-dw2jcaRbd1gpk9zkSkzH1fqhyKG_RZLODmFKYXGkqttWTTrUy7HWC7Uj5QUepwh8skHyO7Baws0704lmhE1U2yFuEdGTxLUfMxaWJ5gPOCKumBaP0EGzmDzoD8LyaAGm6nft7x_6i-f0bPRyss91-_MXJQ9CHm7-v4iB2edkes9qjU4o7C8isMtwkMgEFxVv4egKr134Xp5n5eQ6WH5eENEaIV2U5uZOV9yNZELwI4n5UHLdyAm2ejQ9GpQPjn0lHrIJOzfQ0g8Ppzmv_pp3h3aalf8e_8kL0TodXTqxEQluPF6FSSPbZDUj50UGElVe3HRc0RQl8iEXFmoPFjYwvxF_b8JB2JWY2c4-iq167GbYOs15ambbLTjiYKqQOuuMU6hus-xc=w633-h843-no" width="253" height="330">
    <br><br>
    <br><br>

    <div class ="bodyFont">
        <h3>Background</h3><br><br>
        <p>Originally raised in Reston, Virginia, I moved to Littleton over 15 years ago. Although my family has lived in France for a long time,<br>
        my roots are Vietnamese and Laotian, which I am very proud of. I see Colorado as my home and do not plan on going anywhere! I was originally<br>
        a Business major, but I switched to Computer Science and I am very content with my choice.</p><br><br>

        <h3>About me continued</h3><br><br>
        <div class = "bodyFont">
        <p>One of my passions is skiing and snowboarding; I wouldn't be a true Coloradan if I said otherwise! I love to cook, work on cars,<br>
         traveling, and hip-hop. I also love to rock climb, but I have taken a hiatus due to a recent injury. I used to play competitive chess<br>
         when I was younger, I recently started playing again (feel free to challenge me on Chess.com!) I am fluent in both French and English,<br>
         we speak both languages at home everyday. If you'd like to know more about me, please ask!</p>
        <br><br><br>
        </div>    
    </div>
</div>

