<div class="center">

    <div class="headerFont"><h1>About Me!</h1></div>
    
    <br><br>
        <img style="border:3px solid black" src="C:\Users\Kevin\Desktop\website\4.jpg" width="253" height="330">
    <br><br>
    <br><br>

    <div class ="bodyFont">
        <h3>Background</h3><br><br>
        <p>Originally raised in Reston, Virginia, I moved to Littleton over 15 years ago. Although my family<br>
        has lived in France for a long time, my roots are Vietnamese and Laotian, which I am very proud of.<br>
        I see Colorado as my home and do not plan on going anywhere! I originally went to school for business,<br>
        but I realized that I really enjoyed Computer Science, which is why I switched majors!</p><br><br>

        <h3>About me continued</h3><br><br>
        <div class = "bodyFont">
        <p>One of my passions is skiing and snowboarding; I wouldn't be a true Coloradan if I said otherwise!<br>
        I love to cook, work on cars, traveling, and hip-hop. I also love to rock climb, but I have taken a<br>
        hiatus due to a recent injury. I used to play competitive chess when I was younger, I recently started<br>
        playing again (feel free to challenge me on Chess.com!) I am fluent in both French and English, we speak<br>
        both languages at home everyday. If you'd like to know more about me, please ask!</p>
        <br><br><br>
        </div>    
    </div>
</div>

