<div class="center">

    <div class="headerFont"><h1>Contact</h1></div>
    <br><br>
    <div class ="bodyFont">
        <p>One of the best ways to contact me is with Gmail -- kngovand@gmail.com<br>
        I also have a <a href="https://github.com/kngovand">Github</a> and <a href="https://linkedin.com/in/kngovand">LinkedIn</a>
        </p>
        <br><br>
        <br>    
    </div>
</div>