<div class="center">
    <div class="headerFont"><h1>Welcome!</h1></div>
    <br>
    <div class ="bodyFont">

    <p>Hello there! My name is Kevin and I am an aspiring software developer. I am currently attending MSU-Denver for Computer Science with a Mathematics Minor.
    This web application is one of my side projects as a learning experience with HTML and CSS. It's been very fun and insightful, feel free to use the images
    or navigation bar to see it in action. I am also implementing a Bootstrap only version, so stay tuned for that as well!</p>

    <br><br>

      <div class="container">
        <a href="/welcome/projects.html"><img src="http://oi63.tinypic.com/j95w5w.jpg" text= "Projects" class="image">
            <div class="middle">
            <div class="text">Projects</div></a>
          </div>
      </div>

      <div class="container">
      <a href="/welcome/resume.html"><img src="http://oi65.tinypic.com/2cxx192.jpg" class="image">
          <div class="middle">
            <div class="text">Resume</div></a>
          </div>
      </div>

      <div class="container">
      <a href="/welcome/about.html"><img src="http://oi64.tinypic.com/2ynqfyc.jpg" class="image">
          <div class="middle">
            <div class="text">About</div></a>
          </div>
      </div>
    </div>
</div>
<br>

