<div class="center">
    <div class="headerFont"><h1>Welcome!</h1></div>
    <div class ="bodyFont"><br>

    <p>Hello there, my name is Kevin Ngovanduc and I am an aspiring software developer. I am currently attending MSU-Denver for </p>
    <p>Computer Science with a Mathematics Minor. This web application is one of my side projects as a </p>
    <p>learning experience. It's been very fun and insightful, feel free to check it out in action using the navigation bar! </p><br><br>

      <div class="container">
        <a href="/welcome/projects.html"><img src="https://i-cdn.phonearena.com//images/article/63744-image/A-collection-of-beautiful-1440-x-2560-scrollable-wallpapers-for-your-Quad-HD-Android-powerhouse-LG-G3-Note-4-DROID-Turbo.jpg" text= "Projecys"style="border:3px solid black" class="image">
            <div class="middle">
            <div class="text">Projects</div></a>
          </div>
      </div>

      <div class="container">
      <a href="/welcome/resume.html"><img src="https://i-cdn.phonearena.com//images/article/69235-image/Beautiful-beyond-Quad-HD-1440-x-2560-wallpapers-for-your-Galaxy-S6-S6-edge-LG-G3-Note-4-DROID-Turbo-and-Nexus-6.jpg" style="border:3px solid black" class="image">
          <div class="middle">
            <div class="text">Resume</div></a>
          </div>
      </div>

      <div class="container">
      <a href="/welcome/about.html"><img src="http://www.chinafacttours.com/images/yunnan/jade-dragon-snow-mountain/jade-dragon-snow-mountain-427121.jpg.thumb.jpg" style="border:3px solid black" class="image">
          <div class="middle">
            <div class="text">About Me</div></a>
          </div>
      </div>

    <br><br><br>
    <br><br>
    <br>
    
    <p>
    <br><br><br>
    <br><br>
    I'm planning on updating this website regularly, so check in often! I am also implementing a bootstrap version, stay tuned! <br></p>
    </div>
</div>

