<div class="center">
    <div class="headerFont"><h1>Welcome!</h1></div>
    <div class ="bodyFont"><br>

    <p>Hello there, my name is Kevin Ngovanduc and I am an aspiring software developer. I am currently attending MSU-Denver for </p>
    <p>Computer Science with a Mathematics Minor. This web application is one of my side projects as a </p>
    <p>learning experience. It's been very fun and insightful, feel free to check it out in action using the navigation bar! </p><br>

    <div class="container">
  <img src="http://www.gabriela-biechl.at/images/pias%20aura-100x100-2004-sold.jpg" class="image">
  <div class="middle">
    <div class="text">Product Details</div>
  </div>
</div>
<div class="container">
  <img src="http://www.gabriela-biechl.at/images/pias%20aura-100x100-2004-sold.jpg" alt="Other Headphones" class="image">
  <div class="middle">
    <div class="text">Product Details</div>
  </div>
</div>
<div class="container">
  <img src="http://www.gabriela-biechl.at/images/pias%20aura-100x100-2004-sold.jpg" alt="Other Headphones" class="image">
  <div class="middle">
    <div class="text">Product Details</div>
  </div>
</div>

<br><br><br><br><br><br>

    
    <p><br><br><br>I'm planning on updating this website regularly, so check in often! <br></p>
    <p>I am also implementing a bootstrap version of my website, stay tuned <br></p>
    <p>for that as well. <br></p>
    </p>
    </div>
</div>

