<div class="center">
    <div class="headerFont"><h1>Welcome!</h1></div>
    <div class ="bodyFont"><br>

    <p>Hello there, my name is Kevin Ngovanduc and I am an aspiring software developer. I am currently attending MSU-Denver for </p>
    <p>Computer Science with a Mathematics Minor. This web application is one of my side projects as a </p>
    <p>learning experience. It's been very fun and insightful, feel free to check it out in action using the navigation bar! </p>
    <p>I'm planning on updating this website regularly, so check in often! I am also implementing a bootstrap version, stay tuned!</p>
    <br>

      <div class="container">
        <a href="/welcome/projects.html"><img src="http://oi63.tinypic.com/j95w5w.jpg" text= "Projects" class="image">
            <div class="middle">
            <div class="text">Projects</div></a>
          </div>
      </div>

      <div class="container">
      <a href="/welcome/resume.html"><img src="http://oi65.tinypic.com/2cxx192.jpg" class="image">
          <div class="middle">
            <div class="text">Resume</div></a>
          </div>
      </div>

      <div class="container">
      <a href="/welcome/about.html"><img src="http://oi64.tinypic.com/2ynqfyc.jpg" class="image">
          <div class="middle">
            <div class="text">About Me</div></a>
          </div>
      </div>

    <br><br>
    </div>
</div>

