<div class="center">

    <div class="headerFont"><h1>Welcome!</h1></div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class ="bodyFont">
    <p>Hello there, my name is Kevin Ngovanduc and I am an aspiring software developer. I am currently attending MSU-Denver as </p>
    <p>a Computer Science major with a Mathematics Minor, planning to graduate Spring 2019. This web application is one of my </p>
    <p>side projects develop this web application. It's been very fun and insightful... feel free to check it out in action! </p>
    </div>

    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>
    <br><p>testing</p><br>


</div>
