<div class="center">

    <div class="headerFont"><h1>Projects</h1>
    </div>

    <br><br>

        <h2>Website Application</h2>

        <div class ="bodyFont">

            <a href="https://github.com/kngovand/website" title="This website" id="website-logo"></a>
            <p>
                I first wanted to talk about this web application I made using Ruby 4.2.4. To implement this <br>
                website as easily as I could, I wanted to go with a design using static HTML pages and one controller.<br>
                After fixing the root homepage and routes for all my pages, I went ahead and started working on the <br>
                homepage. I implemented a navigation bar in my application.css file so that it is persistent for all<br> 
                my pages. The rest of the implementation was trivial, such as adding pictures, links, etc... <br>
                I wanted an easy and straightforward dive into CSS and HTML, and I'm glad to say I was able to get<br>
                that experience from this project! Updates and a bootstrap version is coming soon.<br><br><br>
            </p>
        
            <h2>Campus Activities Map using Kotlin</h2><br>
            <a href="https://github.com/kngovand/androidMapsProject" title="Android App" id="android-logo"></a><br>
            <p>
                The objective of this Campus Event app was to inform current MSU Denver students about activities that<br>
                would take place on Auraria Campus. The app would start on a log on screen, where the database would<br>
                correspond to the current students registered at MSU. From the login screen, students would have to<br>
                register through the Firebase database and create a new user account, where the app would direct them<br>
                to the maps home page. From there, users would have a map view and two buttons, Activity List and<br>
                Create Event. These buttons would allow students to either view, edit, or delete activities.<br>
                <img></img>
                If you are interested in reading more on the application, check out my Github <a href="https://github.com/kngovand/androidMapsProject/blob/master/README.md">readme</a>. <br><br><br>
            </p>

            <h2>Software Development</h2>
            <a href="https://github.com/kngovand/softwareDevelopment" title="Software Dev" id="softwaredev-logo"></a>
            <p>
                similar to MSU-Denver's Banner. Using Agile Scrum development, we were assigned a team and had<br> 
                responsibilities of unit testing the C# classes and files. Using Mock, these tests faked or<br>
                "mocked" the variables for us automatically, but the initial setup of this type of testing was<br>
                often times difficult. Selenium testing was another aspect of the class, where tests were ran <br>
                in a browser such as Google Chrome or Firefox. <br><br><br>
            </p> 

            <h2>Web Application</h2>
            <a href="https://github.com/kngovand/webApp" title="Web App" id="webapp-logo"></a><br>
            <p>
                This particular class inspired me to make my own website. Using Ruby on Rails, we were able to<br> 
                easily implement a MVC (Model View Controller) architecture that controlled how our web app<br>
                behaved. Several topics that were discussed and taught: MVC, Object Relational Mapping,<br> 
                Validation, Authentication, relationships such as Many-to-Many, types of databases<br>
                (SQLite3, PostgreSQL, mySQL), HTTP, CSS, HTML, and much more... A project is coming soon,<br>
                stay tuned!<br>
            </p>

            <br><br>
            <h3>(All pictures are clickable with the links to the GitHub)</h3>
            <br><br><br>
            <br><br>
        </div>
</div>
